<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
  <div class="container">
    <a routerLink="/" class="navbar-brand title">Discoverify</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMain">
      <ul class="navbar-nav ml-auto">
        <li *ngIf="isLoggedIn" class="nav-item">
          <a routerLink="/" class="nav-link">Home</a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item">
          <a routerLink="/search" class="nav-link">Search</a>
        </li>    
        <li *ngIf="isLoggedIn" class="nav-item mr-5">
              <a routerLink="/" class="nav-link">Playlists</a>
            </li>
        <li *ngIf="isLoggedIn" class="nav-item">
          <div class="avatar-container">
            <img src={{profile.img}} class="avatar" alt="Profile image">
          </div>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item">
          <a class="nav-link">{{profile.name}}</a>    
        </li>
        <li class="nav-item">
          <a *ngIf="!isLoggedIn" (click)="openModal(content)" class="nav-link">Login</a>
          <a *ngIf="isLoggedIn" (click)="onLogout()" class="nav-link">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!--Login Modal-->
<ng-template #content>
  <app-login-modal></app-login-modal>
  <!--
    <div class="modal-header">
        <div class="col-md-12 text-center">
          <h2>Login with Spotify</h2>
        </div>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12 text-center">
          <button (click)="onLogin()" class="btn btn-info col-5 login-btn">Login</button>
        </div>
      </div>
    </div>
    -->
  </ng-template>