/* You can add global styles to this file, and also import other style files */

body{
    padding: 0;
    margin: auto;
}

div > h1 {
    color: #FFFFFF;
    font-family: 'Noto Sans', sans-serif;
    text-shadow: 3px 4px 4px rgba(0, 0, 0, 0.77);
}

.cover-component {
    background-size:  100% 100%;
    padding-top: 14vh;
    background-repeat: no-repeat;

    h1 {
        text-align: center;
        margin-bottom: 30px;
        padding-bottom: 20px;
    }
}

$theme-colors: (
    "dark": #111111,
    "dark-blue": #203541,
);

@import "node_modules/bootstrap/scss/bootstrap";
