.track {
    border-radius: 1.25rem;
    height: 32px;
    line-height: 1.8;
    box-shadow: 1px 2px 6px #05454f;
}

.album-img {
    width: 27px;
    height: 27px;
    border-radius: 50%;
}

div{
    text-align: center;
}