//generated in http://mcg.mbitson.com/
$mat-turkey-blue: (
    50 : #e5f3f5,
    100 : #bde2e6,
    200 : #92cfd6,
    300 : #66bbc5,
    400 : #45adb8,
    500 : #249eac,
    600 : #2096a5,
    700 : #1b8c9b,
    800 : #168292,
    900 : #0d7082,
    A100 : #b3f2ff,
    A200 : #80e9ff,
    A400 : #4de1ff,
    A700 : #34dcff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);